.titlePhoto {
  width: 100%;
  height: 30vh;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  padding: -16px;
}

.titleGroup {
  /*background:   linear-gradient(to top left, transparent 50%, rgba(255, 255, 255, 1) 50%) 0 0/35% 400px no-repeat;*/
  padding: 16px;
  box-sizing: border-box;
  position: absolute;
  font-family: Helvetica, sans-serif;
  background: rgba(245,245,245,0.95);
  width:100%;
  top: 13.5%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.title {
  color: #232323;
  font-size: 45px;
  font-weight: bold;
  padding-right: 16px;
  max-width: 100%;
  margin:auto;

}

.titleQuestion {
  margin: auto;
  color: #4d4d4d;
  text-align: center;
  font-weight:200;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
}

.content {
  padding: 64px;
  font-size:28px;
}
.fullDescription {
  text-align: justify;
  color: #7d7d7d;


}

.galleryImage {
  width:100%;
  height:100%;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 16px;
  box-shadow: 0 8px 6px -6px rgba(23,23,23,0.1);

}
.externalLinks {
  text-align: center;
  margin-bottom: 16px;
}

.externalLinks > a {
  font-size: 1.225rem;
  margin: 8px 8px 8px 8px;
  color: #4d4d4d;
  transition: color 200ms;
  text-decoration: none;
}
.externalLinks > a:hover {
  color: #2d2d2d;


}
/* Min screen */
@media (max-width: 700px) {
  .titleGroup {
    width: 100%;
    top:14.5%;
  }

  .content {
    padding: 16px;
  }

  .titleContent {
    width: 100%;
  }

  .title {
    margin: auto;
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
  .titleQuestion {
    width: 100%;
    text-align: center;
  }

}


.projectInformation {
  display:flex;
  flex-direction: column;
  max-width: 100%;
  margin: 16px 0;
}

/* Min screen */
@media (min-width: 576px) {
  .projectDescription {
    padding: 32px;
   
  }
  .projectInformation {
    flex-direction: row;

  }

 
}


.projectDescription {
  width:100%;
  min-width: 350px;
  padding-top:36px;
}

.projectMetaDetails {
  display:flex;
  flex-direction: column;
  max-width: 550px;
  min-width: 350px;
}

.projectMetaDetails h5 {
  color:gray;
  font-size: small;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: .3em;
  font-weight: 400;
  margin-block-start: 4px;
  margin-block-end: 4px;
  margin-inline-start: 4px;
  margin-inline-end: 4px;

}

.projectMetaDetails h1 {
  font-size: 1.75rem;
    line-height: 2.25rem;
    padding-top: 4px;
    padding-bottom: 1px;
    font-family: "Helvetica Now Display DW",sans-serif;
    font-weight: 800;
    letter-spacing: -.01em;
    color: #0f141e;
    margin-block-start: 4px;
}
.projectMetaDetails h4 {
      margin-block-start: 4px;
    margin-block-end: 16px;
    margin-inline-start: 4px;
    margin-inline-end: 4px;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    padding-top: 1px;
    padding-bottom: 4px;
    font-weight: 400;
}

.assetLink {
  padding:0px 4px 0px 4px;
}