@import "./variables.scss";

h1 {
  color: $primary-color;
}
/*.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #010c30;
}
.header {
  pointer-events: none;
}
.headerText {
  font-size: 36px;
  color: white;
  width: 90%;
  margin: auto;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none; 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.secondPage {
  width: 100%;
  height: 100%;
  background-color: #010c30; 
}

.landingContainer {
  -ms-overflow-style: none;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  position: absolute;
  left: 0;
  width: 10%;
  animation: translate 15s infinite linear;
}
img {
  position: absolute;
  animation: upDown 1.5s alternate infinite ease-in-out;
  width: 100%;
}

@keyframes upDown {
  to {
    transform: translatey(100px);
  }
}
@keyframes translate {
  to {
    transform: translatex(900%);
  }
}

.Main {
  height: 500px;
  width: 1000px;
}
*/
